.container-table-info {
    background-size: cover;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    /* height: 100%; */
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.bg-night {
    background-color: black;
}

.bg-day {
    background-color: rgb(126, 211, 226);
}

.cloud {
    background-image: url('../../../img/cloud.png');
}

.snow {
    background-image: url('../../../img/snow.png');
}

.rain {
    background-image: url('../../../img/rain.png');
}

.container-temp {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 3em;
    padding: 10px 0 10px;
}

.bg-img-solar {
    background: url('../../../img/solar.png');
    background-size: cover;
    height: 150px;
    width: 150px;
}

.bg-img-moon {
    background: url('../../../img/moon.png');
    background-size: cover;
    height: 150px;
    width: 150px;
}

.temp {
    margin: auto 10px;
    padding: 0 10px 0 10px;
    border-radius: 20px;
}

.temp-day {
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.temp-night {
    background-color: rgb(0, 0, 0, .8);
    border: 1px solid white;
    color: white;
}

.container-info {
    display: flex;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    border-radius: 20px;
    justify-content: space-around;
    margin: 0 20px 20px;
    border: 1px solid black;
}

.info-night {
    background: rgba(82, 80, 83, 0.9);
}

.info-day {
    background: rgba(78, 192, 207, 0.8);
}

.container-item {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 20px 0 20px;
}

.icon-pressure {
    background-image: url('../../../img/pressure.png');
}

.icon-humidity {
    background-image: url('../../../img/him.png');
}

.icon-sunrise {
    background-image: url('../../../img/sunrise.png');
}

.icon-sunset {
    background-image: url('../../../img/sunset.png');
}

.info {
    margin: auto 0 auto 10px;
    height: auto;
}