.App {
    text-align: center;
    /* background-color: cadetblue; */
    background-color: blueviolet;
    background-size: cover;
    min-height: 100vh;
}

.background {
    background-color: blueviolet;
    height: 100vh;
}

.bg {
    /* background: url('./img/123.png'); */
    height: calc(100vh - 4em - 10px - 2vmin);
    width: 100%;
    filter: blur(10px);
    background-size: cover;
    position: absolute;
    z-index: -1;
    /* background-attachment: fixed;
    background-position: 400px 400px; */
}

.container {
    width: 70%;
    margin: 0 auto;
}

@media (min-width: 1366px) {
    .container {
        width: 50%;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 90%;
    }
}