button {
    padding: 10px 20px 10px 20px;
    border: solid 3px rgb(95, 88, 88);
    /* height: 20px; */
    outline: none;
    box-sizing: padding-box;
    border-radius: 20px;
    /* margin-left: 10px; */
    width: 100%;
}

button:active {
    background: brown;
    color: cornsilk;
    border-color: darkorange;
}

.container-citySearch {
    flex: 1;
    margin-left: 10px;
    text-align: start;
}

@media (max-width: 600px) {
    button {
        margin: 5px 0 0 0;
    }
    .container-citySearch {
        margin-left: 0;
    }
    .container-citySearch {
        text-align: center;
    }
}